/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* Шрифты */
    margin: 0;
}

p {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
}

h1 {
    font-size: 40px;
    color: #fff;
}

h2 {
    margin-top: 10px;
    font-size: 28px;
    color: #282828;
}

h3 {
    margin-top: 0px;
    font-size: 26px;
    color: #58abf5;
}

strong {
    color: darkorange;
}

.container {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.brand {
    font-size: 30px;
}

.menu li {
    float: left;
    font-size: 16px;
    list-style: none;
}

.menu {
    padding-left: 0;
    margin: 0;
}

.menu li a {
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    color: #aaa;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /*    margin-top: 10px;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Header */
header {
    background-color: #fff;
    padding-top: 30px;
}

header .brand {
    float: left;
    margin-bottom: 30px;
    color: limegreen;
}

header .menu {
    float: right;
    margin: 30px;
}

header .menu li {
    padding-left: 20px;
}

header .menu li a {
    color: #aaa;
}

.menu li a:hover {
    color: limegreen;
}

.jumbotron {
    background-image: linear-gradient(to right, lightgreen, green);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 400px;
    text-align: center;
    clear: both;
/*    animation: 20s slides ease-in-out infinite;*/
}

.jumbotron .btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 140px;
    background-color: limegreen;
    padding: 15px 20px;
    border-radius: 30px;
}

.jumbotron .btn:hover {
    transition-duration: 1.5s;
    background-color: lightgreen;
}

/* Services */
.services img {
    border-radius: 8px;
    width: 100%;
}

.service:hover {
    transform: scale(1.2);
}

.service {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 33.3333333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

.service a {
    text-decoration: none;
    color: #000;
}

.services {
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.services p {
    font-size: 16px;
}

/* Blog */
.blog {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fcfcfc;
}

.blog h2 {
    text-align: center;
}

.blog p {
    text-align: justify;
}

.blog .post {
    clear: both;
    padding-top: 10px;
    display: inline-block;
}

.blog .post img {
    float: left;
    margin-right: 30px;
    border-radius: 8px;
    max-width: 280px;
}

/* Footer */
footer {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: limegreen;
}

footer .brand {
    color: #fff;
}

footer .menu li {
    padding-left: 10px;
    padding-right: 10px;
}

footer .menu li a {
    color: #444;
}

footer .menu li a:hover {
    color: #58abf5;
}

footer .menu {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 15px;
}

footer .copyright {
    font-size: 14px;
    color: #eee;
}

/* Rules */

@media (max-width: 650px) {
    .services .service {
        width: 100%;
        float: none;
    }

    .jumbotron {
        background-size: 1000px;
    }

    .blog .post img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .blog .post {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@keyframes slides {
    0% {
        background-image: url(img/arkanoid.JPG);
    }
    
    16.666666666% {
        background-image: url(img/tetris.JPG);
    }
    
    33.333333333% {
        background-image: url(img/snake.JPG);
    }
    
    50% {
        background-image: url(img/pong.JPG);
    }
    
    66.666666666% {
        background-image: url(img/clicker.JPG);
    }
    
    83.333333333% {
        background-image: url(img/flappy-bird.JPG);
    }
    
    100% {
        background-image: url(img/arkanoid.JPG);
    }
}